<% layout("/layouts/boilerplate") %>
<style>
    .bl {
        background-color: #000;
    }
    .seo-section-one-left h1{
        line-height: 1.7;
        font-size: 2.6vw;
        font-family: "Roboto-Serif";
    }
    .seo-proposal{
        display: flex !important;
        justify-content: start !important;
    }
    .seo-proposal ul{
        box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        background: #C4C800;
        border-radius: 2vw;
    }
    .seo-proposal ul li{
        list-style: none;
    }
    .seo-proposal input{
        outline: none;
        border: 0;
        padding: 1vw;
        border-top-left-radius: 2vw;
        width: 20vw;
        border-bottom-left-radius: 2vw;
    }
    .seo-proposal button{
        background: transparent;
        border: 0;
        color: black;
        font-size: 1.3vw;
        font-weight: 700;
        padding-right: 2vw;
        width: 15vw;
    }
    .seo-proposal button:hover{
        cursor: pointer;
    }
    @media screen and (max-width: 600px){
        .seo-proposal ul{
            border-radius: 5vw;
        }
        .seo-proposal input{
            font-size: 2.3vw;
            outline: none;
            border: 0;
            padding: 1.1vw;
            border-top-left-radius: 5vw;
            width: 25vw;
            border-bottom-left-radius: 5vw;
        }
        .seo-proposal ul{
            gap: 2vw !important;
        }
        .seo-proposal button{
            font-size: 1.7vw;
            width: 18vw;
            font-weight: 1000;
            padding-left: 0.7vw;
        }
    }
</style>

<style>
    @keyframes bounce {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(10px);
        }
    }
</style>


<!-- SEO Section One -->
<div class="seo-section-one">
    <div class="seo-section-one-left">
        <div>
            <P><h1>INCREASE YOUR WEBSITE VISIBILITY BY CUSTOMISED SEO SERVICES WITH A TOP SEO AGENCY</h1></P>
            <div class="seo-hed" style="width: 100%;">
                <div class="seo-proposal">
                    <form action="/send-praposal" method="POST">
                        <ul>
                            <li><input type="email" name="email" placeholder="Your Email" required></li>
                            <li><button type="submit">Send Me Proposal</button></li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="seo-section-one-right">
        <div class="blur-img"><img src="/assets/images/contact-img2.png" alt="blur image"></div>
        <div class="seo-section-one-right-in"><img src="/assets/images/seo-img-1.webp" alt="SEO Image"></div>
    </div>
</div>

<!-- SEO Section two -->
<section class="page2" style="margin-bottom: 4vw !important;">
    <div class="divider">
        <img src="/assets/images/page2.webp" alt="">
    </div>

    <div class="logo-box1">
        <div class="bar">
          <div class="inner-bar">
            <img height="8vw" width="5vw" src="/assets/images/l1.webp" alt="Hello">
            <img height="8vw" width="5vw" src="/assets/images/l2.webp" alt="Hello">
            <img height="8vw" width="5vw" src="/assets/images/l3.webp" alt="Hello">
            <img height="8vw" width="5vw" src="/assets/images/l4.webp" alt="Hello">
            <img height="8vw" width="5vw" src="/assets/images/l5.webp" alt="Hello">
            <img height="8vw" width="5vw" src="/assets/images/l6.webp" alt="Hello">
            <img height="8vw" width="5vw" src="/assets/images/l7.webp" alt="Hello">
            <img height="8vw" width="5vw" src="/assets/images/l8.webp" alt="Hello">
            <img height="8vw" width="5vw" src="/assets/images/l9.webp" alt="Hello">
            <img height="8vw" width="5vw" src="/assets/images/l10.webp" alt="Hello">
            <img class="spc" height="8vw" width="5vw" src="/assets/images/logo1.webp" alt="Hello">
            <img class="spc" height="8vw" width="5vw" src="/assets/images/Gex_toys_logo_RED.webp" alt="Hello">
            <!-- duplicate the images to create the infinite effect -->
            <img height="8vw" width="5vw" src="/assets/images/l1.webp" alt="Hello">
            <img height="8vw" width="5vw" src="/assets/images/l2.webp" alt="Hello">
            <img height="8vw" width="5vw" src="/assets/images/l3.webp" alt="Hello">
            <img height="8vw" width="5vw" src="/assets/images/l4.webp" alt="Hello">
            <img height="8vw" width="5vw" src="/assets/images/l5.webp" alt="Hello">
            <img height="8vw" width="5vw" src="/assets/images/l6.webp" alt="Hello">
            <img height="8vw" width="5vw" src="/assets/images/l7.webp" alt="Hello">
            <img height="8vw" width="5vw" src="/assets/images/l8.webp" alt="Hello">
            <img height="8vw" width="5vw" src="/assets/images/l9.webp" alt="Hello">
            <img height="8vw" width="5vw" src="/assets/images/l10.webp" alt="Hello">
            <img class="spc" height="8vw" width="5vw" src="/assets/images/logo1.webp" alt="Hello">
            <img class="spc" height="8vw" width="5vw" src="/assets/images/Gex_toys_logo_RED.webp" alt="Hello">
          </div>
        </div>
      </div>
    <div class="logo-box2">
        <div class="img"><img src="/assets/images/BF1.webp" alt="BF1"></div>
        <div class="img"><img src="/assets/images/BF2.webp" alt="BF2"></div>
        <div class="img"><img src="/assets/images/BF3.webp" alt="BF3"></div>
    </div>

</section>


<!-- performance metric -->
 <div class="per">
<!-- SEO navbar -->
<div class="seo-hed">
    <div class="seo-hed-in">
        <ul>
            <li><a href="#seo-services" class="seo-active">SEO Services</a></li>
            <li><a href="#our-technology">Growth Duration</a></li>
            <li><a href="#case-studies">Scenario</a></li>
            <li><a href="#seo-pricing">SEO Pricing</a></li>
            <li><a href="#our-approach">Backlink</a></li>
        </ul>
    </div>
</div>


     <h3 class="hed fssm">Shashi Sales’s <span style="color: #aaad02;margin-left: 0.6vw;font-family: Roboto Serif;">SEO Performance Metric</span></h3>
    <div class="per1">
        <div id="seo-services">
            <div>
                <div class="dfjc">
                    <p class="growani">&#9650; </p>
                    <p class="scre" data-target="260">0%</p>
                </div>
                <p class="otok">Organic Traffic Increase</p>
                <p class="otokdesc">A significant <span style="color: #aaad02;">260%</span> increase in organic traffic indicates our strategies effectively attract and retain users.</p>
            </div>
            <div>
                <div class="dfjc">
                    <p class="growani">&#9650; </p>
                    <p class="scre" data-target="135">0%</p>
                </div>
                <p class="otok">Organic Keyword Growth</p>
                <p class="otokdesc">A <span style="color: #aaad02;">135%</span> rise in ranking keywords shows successful optimization and content relevance, leading to better visibility.</p>
            </div>
        </div>

    </div>
    <div class="seo-sidebar">
        <div class="seo-sidebar-left">
            <ul>
                <li id="sel1" class="sel-active">SEO Audits</li>
                <li id="sel2">Keywords Research</li>
                <li id="sel3">Website Content Creation</li>
                <li id="sel4">Link Building</li>
                <li id="sel5">On page SEO</li>
                <li id="sel6">Off Page SEO</li>
                <li id="sel7">Technical SEO</li>
            </ul>
        </div>
        <div class="seo-sidebar-right">
            <ul>
                <li class="show-sel1">
                    <div class="seric">
                        <span><img height="50" width="50" src="/assets/images/srch-icon.webp" alt="search icon"></span>
                        <span><h2>SEO Audits</h2></span>
                    </div>
                    <ul>
                        <li>Your dedicated account manager will do your Niche analysis and locate some of your competitors.</li>
                        <li>The Account manager will run an audit on your website with Light house, page-speed and other SEO tools.</li>
                        <li>Our SEO marketing agency use these third party tools to make sure that every keywords that are being extracted during the SEO analysis, is accurate to enhance your website ranking, traffic and engagements.</li>
                    </ul>
                </li>
                <li class="show-sel2">
                    <div class="seric">
                        <span><img height="50" width="50" src="/assets/images/srch-icon.webp" alt="search icon"></span>
                        <span><h2>Keywords Research</h2></span>
                    </div>
                    <ul>
                        <li>Our SEO agency will research for the SEO keywords for which your website currently rank for and then new ranking keywords of your niche will be also be generated in during our lab session conducted by SEO specialist.</li>
                        <li>Each of this analysis is to make sure that extracted keywords has the potential to rank your website.</li>
                    </ul>
                </li>
                <li class="show-sel3">
                    <div class="seric">
                        <span><img height="50" width="50" src="/assets/images/srch-icon.webp" alt="search icon"></span>
                        <span><h2>Website Content Creation</h2></span>
                    </div>
                    <ul>
                        <li>Our SEO team extracts over 15 keywords depending on the cyour niche requirement and with the help of these ranking keywords, each product page and entire website will be integrated with Meta Title, description and keyword.</li>
                        <li>This Meta file generated for each page help your website with organic rankings and traffic as search engines like google and bing look for this keywords in the meta file to display your website on the SERP (Search Engine Results Page).</li>
                    </ul>
                </li>
                <li class="show-sel4">
                    <div class="seric">
                        <span><img height="50" width="50" src="/assets/images/srch-icon.webp" alt="search icon"></span>
                        <span><h2>Link Building</h2></span>
                    </div>
                    <ul>
                        <li>Our SEO company will use these keywords as the anchor text for the ghost postings and blog posting on other websites for backlinking and link building.</li>
                        <li>What exactly happens in the background, google crawlers scan your website and to store image on their server. So that the most relevant website can be placed on top position. However every factor has to be considered for website ranking.</li>
                    </ul>
                </li>
                <li class="show-sel5">
                    <div class="seric">
                        <span><img height="50" width="50" src="/assets/images/srch-icon.webp" alt="search icon"></span>
                        <span><h2>On Page SEO</h2></span>
                    </div>
                    <ul>
                        <li>Our SEO specialists will extract a list of errors from SEO perspective by our inhouse tools and other tools like Google Light House and Pagespeed.</li>
                        <li>Every on-page SEO issues that will be fixable will be shared with the Website Admin to make changes in the front end. This improves website speed and responsiveness.</li>
                    </ul>
                </li>
                <li class="show-sel6">
                    <div class="seric">
                        <span><img height="50" width="50" src="/assets/images/srch-icon.webp" alt="search icon"></span>
                        <span><h2>Off Page SEO</h2></span>
                    </div>
                    <ul>
                        <li>Content promotion, Industry networking, link analysis, link disavow, and much more will be done. This includes Optimizing your robots.txt file, sitemap.xml.</li>
                        <li>Each of these links created go through premium indexing so that backlinking indexing are done faster than the usual time.</li>
                    </ul>
                </li>
                <li class="show-sel7"> 
                    <div class="seric">
                        <span><img height="50" width="50" src="/assets/images/srch-icon.webp" alt="search icon"></span>
                        <span><h2>Technical SEO</h2></span>
                    </div>
                    <ul>
                        <li>Building and submitting XML and HTML sitemaps, Improving security, Establishing SEO-friendly navigation, Optimizing your website for mobile users, Improving your page load speed, And much more!</li>
                    </ul>
            </li>
            </ul>
        </div>
    </div>
    <div class="septr" style="margin: 3vw 0vw; border-bottom: 1px solid;"></div>

    <!-- SEO Section Seven -->
    <div class="hed fsm" style="padding-top: 0 !important;">BOOSTS KEYWORDS WITH <span style="color: #C4C800;">MULTI-TIER</span> BACKLINKS</div>
    <div class="design-section-four-in seo-sec-7-mob" style="padding: 0;">
        <div class="design-section-card">
            <p>1 Tier Backlinks</p>
            <p>Tier 1 backlinks create single-level links that point directly to your website.Having only Tier 1 links is less effective. To boost rankings and increase do-follow links, it's best to use a combination of Tier 1, Tier 2, and Tier 3 backlinks with custom link building.</p>
        </div>
        <div class="design-section-card">
            <p>2 Tier Backlinks</p>
            <p>Tier 2 links are highly effective for boosting rankings of low to moderately competitive keywords. Their main goal is to enhance the link juice passed from your backlink profile to your main website.</p>
        </div>
        <div class="design-section-card">
            <p>3 Tier Backlinks</p>
            <p>Tier 3 links offer increased power and juice to your link building efforts. It involves a Tier 1 backlink pointing to your main site, followed by several Tier 2 backlinks pointing to the Tier 1 link, and finally, multiple Tier 3 backlinks pointing to each Tier 2 link.</p>
        </div>
    </div>

    <div class="septr" style="margin: 3vw 0vw; border-bottom: 1px solid;"></div>

    <!-- SEO Section Eight -->
    <div class="hed fsm" style="padding: 0 0vw !important;">On-Page SEO</div>

    <div class="septr" style="margin: 3vw 0vw; border-bottom: 1px solid;"></div>

    <div class="design-section-four-in seo-sec-8-mob" style="padding: 0 0vw;">
        <div class="design-section-card">
            <p>Alt Tag</p>
            <p>An alt tag (alternative text) is an HTML attribute used to describe the content of an image on a webpage. It is beneficial for on-page SEO because it helps search engines understand the image content, improving accessibility and ranking.</p>
        </div>
        <div class="design-section-card">
            <p>Meta Tag</p>
            <p>A meta tag is an HTML element that provides metadata about a webpage, such as descriptions and keywords, to search engines and browsers. It benefits on-page SEO by improving search engine rankings and click-through rates, enhancing content relevance.</p>
        </div>
        <div class="design-section-card">
            <p>Sitemap</p>
            <p>A sitemap is a file that lists all important pages of a website, aiding search engines in crawling and indexing content efficiently. It enhances SEO by ensuring all pages are found, improving visibility and ranking potential.</p>
        </div>
        <div class="design-section-card">
            <p>Robots File</p>
            <p>A robots.txt file directs search engine crawlers on which pages to crawl or ignore on a website. It's crucial for on-page SEO by controlling access, ensuring search engines prioritize relevant content, and managing crawl budget effectively.</p>
        </div>
    </div>

    <div class="septr2"></div>

    <div class="design-section-four-in seo-sec-8-mob" style="padding: 0 0vw;">
        <div class="design-section-card">
            <p>Schema Markup</p>
            <p>Schema markup is structured data added to a webpage's HTML to help search engines understand content context. Types include product, review, event, local business, and article schemas, enhancing search visibility and rich result potential.</p>
        </div>
        <div class="design-section-card">
            <p>Broken Links</p>
            <p>Broken links are hyperlinks on a webpage that lead to non-existent or inaccessible pages. They harm user experience by frustrating visitors and can negatively impact SEO by reducing crawl efficiency and authority, potentially lowering search engine rankings.</p>
        </div>
        <div class="design-section-card">
            <p>Herflang Tag</p>
            <p>The hreflang tag specifies language and regional variations of a webpage to search engines, ensuring users see the most relevant version based on their language or location. It enhances SEO by improving user experience and targeting international audiences effectively.</p>
        </div>
        <div class="design-section-card">
            <p>Canonical Tag</p>
            <p>Canonical tags consolidate duplicate or similar content URLs into a preferred version, focusing search engine ranking signals on that URL. This prevents content dilution, consolidates authority, and improves the chosen page's ranking potential, optimizing SEO efforts.</p>
        </div>
    </div>
    <div id="our-technology" class="tfi">
        <h3 class="hed fsm">Traffic Growth Industry</h3>
        <div class="tfi-in">
            <span>
                <h3>Short-term (3-6 months)</h3>
                <ul>
                    <li>Keyword Ranking Began to Improve Initially</li>
                    <li>For weaker keywords, an organic Increase in traffic</li>
                    <li>Better on-site user engagement posited to results in lower bounce rates and increased time on site</li>
                </ul>
            </span>
            <span>
                <h3>Medium-term (6-12 months)</h3>
                <ul>
                    <li>Dramatic increases in keyword rankings, specifically for competing mid-tail keywords</li>
                    <li>Great organic traffic and conversion uplift</li>
                    <li>Number of keywords ⓘ (keywords that are ranking #1–30)</li>
                </ul>
            </span>
            <span>
                <h3>Long-term (12+ months)</h3>
                <ul>
                    <li>Competing for Top Keywords</li>
                    <li>Increased organic traffic over time</li>
                    <li>Positioning in the gaming niche</li>
                </ul>
            </span>
        </div>
    </div>
    <div id="case-studies" class="scenario">
        <div class="scenario-in">
            <h3 class="bzz">Scenario 1</h3>
            <p style="margin: 1vw 2vw 0 2vw;">
                <span style="color: rgb(95, 89, 89);font-weight: 700;margin-bottom: 0.6vw;">New site </span><br>
            </p>
            <span>
            <p>Yes, your initial traffic will be pretty low but if you do SEO right in the first 6 months (don't expect results before that) then there are chances of a massive increase over time — think even another conversion.</p>
                <p>The best case is organic keyword growth slowly from nothing to around a few dozen in the first two months, and for that number to possibly grow into a few hundred over 8+months.</p>
            </span>
        </div>
        <div class="scenario-in">
            <h3 class="bxx">Scenario 2</h3>
            <p style="margin: 1vw 2vw 0 2vw;"><span style="color: rgb(95, 89, 89);font-weight: 700;margin-bottom: 0.6vw;">Already established website with very bad SEO</span></p>
            <span>
                <p>In fact, taking quick actions on the common technical SEO issues I am going to mention below will most likely drive an incremental 20-30% increase in traffic within just a few months.</p>
            </span>
        </div>
    </div>
    <div id="seo-pricing" class="packa">
        <div class="moy1">
            <div class="moy1bb">
                <h3>SEO PLANS</h3>
                <p id="priceid">Starting at <span style="color: #72df6a;font-weight: 700;">$ 999/-</span></p>
            </div>
            <h3 class="tas">How we determine pricing</h3>
            <div class="moy1-in">
                <h3 id="moyhed1">Content Marketing Needs</h3>
                <p id="moyp1">With 65+ different content formats, Shashi Sales & Marketing’s dedicated content team can help grow your business through professionally-written, SEO optimized content no matter your industry.</p>
            </div>
            <div class="moy1-in">
                <h3 id="moyhed2">Website Size</h3>
                <p id="moyp2">The size of your website will determine your relative SEO needs for content, management, on-page optimization, and more. Your Shashi Sales & Marketing strategist will consider your website’s needs for your custom SEO strategy.</p>
            </div>
            <div class="moy1-in">
                <h3 id="moyhed3">Consultation Needs</h3>
                <p id="moyp3">Every Shashi Sales & Marketing client gets the support of our 500+ digital marketing team, regular consultation calls, and ongoing business reviews. Our team can support complex needs as well, which you can discuss with your web strategist.</p>
            </div>
        </div>
        <div class="moy2">
            <!-- <h3 class="fsm">Select Your Plan</h3> -->
            <div class="pre-logo">
                <div id="borr1">
                    <img id="pre-logo1" height="50" width="50" src="/assets/images/i1.webp" alt="i1">
                    <div id="ba">Basic</div>
                </div>
                <div id="borr2">
                    <img id="pre-logo2" height="50" width="50" src="/assets/images/i2.webp" alt="i2">
                    <div id="st">Standard</div>
                </div>
                <div id="borr3">
                    <img id="pre-logo3" height="50" width="50" src="/assets/images/i3.webp" alt="i3">
                    <div id="pr">Premium</div>
                </div>
            </div>
            <div id="moy2in">
                <h3 class="fsm">Included In All Plans</h3>
            <div class="moy2-in">
                <p><img height="25" width="25" src="/assets/images/checkIcon.webp" alt="checkIcon"></p>
                <p>Backlinks from Blogs, Forums, Wiki</p>
            </div>
            <div class="moy2-in">
                <p><img height="25" width="25" src="/assets/images/checkIcon.webp" alt="checkIcon"></p>
                <p>Total 2500 Backlinks</p>
            </div>
            <div class="moy2-in">
                <p><img height="25" width="25" src="/assets/images/checkIcon.webp" alt="checkIcon"></p>
                <p>For 1 Website URL</p>
            </div>
            <div class="moy2-in">
                <p><img height="25" width="25" src="/assets/images/checkIcon.webp" alt="checkIcon"></p>
                <p>For up to 6 Keywords</p>
            </div>
            <div class="moy2-in">
                <p><img height="25" width="25" src="/assets/images/checkIcon.webp" alt="checkIcon"></p>
                <p>100% DoFollow Backlinks</p>
            </div>
            <div class="moy2-in">
                <p><img height="25" width="25" src="/assets/images/checkIcon.webp" alt="checkIcon"></p>
                <p>Permanent Backlinks</p>
            </div>
            <div class="moy2-in">
                <p><img height="25" width="25" src="/assets/images/checkIcon.webp" alt="checkIcon"></p>
                <p>Free Premium Indexing</p>
            </div>
            <div class="moy2-in">
                <p><img height="25" width="25" src="/assets/images/checkIcon.webp" alt="checkIcon"></p>
                <p>Detailed Backlinks Report</p>
            </div>
            <div class="moy2-in">
                <p><img height="25" width="25" src="/assets/images/checkIcon.webp" alt="checkIcon"></p>
                <p>Press Releases</p>
            </div>
            <div class="moy2-in">
                <p><img height="25" width="25" src="/assets/images/checkIcon.webp" alt="checkIcon"></p>
                <p>Social Bookmarks & Blog Comments</p>
            </div>
            <div class="moy2-in">
                <p><img height="25" width="25" src="/assets/images/checkIcon.webp" alt="checkIcon"></p>
                <p>Delivery Full Report Within 15 Working Days</p>
            </div>
            <div class="moy2-in">
                <p><img height="25" width="25" src="/assets/images/checkIcon.webp" alt="checkIcon"></p>
                <p>100% Safe with Search Engines</p>
            </div>
            <div class="paybtn">
                <div class="seo-hed" style="width: 100%;">
                    <div class="seo-proposal" style="justify-content: center !important;">
                        <form action="/send-praposal" method="POST">
                            <ul style="padding: 0;">
                                <li><input type="email" name="email" placeholder="Your Email" required></li>
                                <li><button type="submit">Send Me Proposal</button></li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

<!-- SEO Section Three -->
<div id="our-approach" class="em-sec-one" style="padding: 2vw 0vw 0vw 0vw;">
    <div class="em-sec-one-left">
        <span>
            <p>Skyrocket Your SEO with Quality</p>
            <p>Boost your website’s ranking with our effective link-building services. Utilize high-quality backlinks for improved seo search optimization and seo engine optimization. Stay ahead of competitors and increase your visibility in search engines. Enhance your website’s presence today!</p>
        </span>
    </div>
    <div class="em-sec-one-right" style="aspect-ratio: 704.27/531;">
        <img src="/assets/images/seo-img-2.webp" alt="seo-img-2">
    </div>
</div>

<div class="septr" style="margin: 3vw 0vw; border-bottom: 1px solid;"></div>

<!-- SEO Section Four -->
<div class="em-sec-two" style="padding: 0;">
    <div class="em-sec-two-left" style="aspect-ratio: 680/439;">
        <img src="/assets/images/seo-img-3.webp" alt="seo-img-3">
    </div>
    <div class="em-sec-two-right">
        <span>
            <p>Why Buy Backlinks</p>
            <p>Web 2.0 backlinks are effective for influencing the content linked to your website. These links come from high-authority domains and can significantly enhance your site's ranking power. To see the impact, you can check my backlinks for a detailed analysis.</p>
        </span>
    </div>
</div>

<div class="septr" style="margin: 3vw 0vw; border-bottom: 1px solid;"></div>

<!-- SEO Section Five -->
<div class="em-sec-one" style="padding: 0vw 0vw 0vw 0vw;">
    <div class="em-sec-one-left">
        <span>
            <p>Backlinks From Wiki Websites</p>
            <p>Wiki backlinks are a highly effective SEO method for boosting keyword rankings quickly and attracting quality traffic. Wiki sites have a strong reputation on Google, drawing visitors globally. To evaluate their impact, use tools like the Ahrefs backlink checker.</p>
        </span>
    </div>
    <div class="em-sec-one-right" style="aspect-ratio: 623/596;">
        <img src="/assets/images/seo-img-4.webp" alt="seo-img-4">
    </div>
</div>

<div class="septr" style="margin: 3vw 0vw; border-bottom: 1px solid;"></div>

<!-- SEO Section Six -->
<div class="em-sec-two" style="padding: 0;">
    <div class="em-sec-two-left" style="aspect-ratio: 596/540;">
        <img src="/assets/images/seo-img-5.webp" loading="lazy" alt="seo-img-5">
    </div>
    <div class="em-sec-two-right">
        <span>
            <p>Multi-Tier Backlinks for Better Ranking</p>
            <p>Tiered backlinks boost the link juice from your backlink profile to your website. For instance, a Tier 1 backlink points directly to your main site, several Tier 2 backlinks point to the Tier 1 backlink, and multiple Tier 3 backlinks point to each Tier 2 backlink.
            </p>
        </span>
    </div>
</div>
</div>
<!-- consent banner -->
<div id="consent-banner" style="display: none;">
    <h2 style="margin: 2vw 2vw 0 2vw;">We care about your privacy</h2>
    <div>
        <p style="color: #ccc;">
            We use cookies to ensure that we give you the best experience on our website. By clicking "Accept All", you agree to the storing of cookies on your device to give you the most optimal experience using our website.<a style="color: #C4C800" href="/privacy-policy" target="_blank"> See our Privacy Policy for more info.</a>
        </p>
        <p style="display: flex; gap: 3vw;">
            <a id="consent-button" class="btn" href="javascript:consentAll();">Accept all cookies</a>
            <a id="consent-button-essential" class="btn" href="javascript:essentialOnly();">Essential only</a>
        </p>
    </div>
</div>
</div>
<!-- contact-bar -->
<div class="contact-bar">
    <div class="number">
        <img src="/assets/images/call.png" alt="">
        <div class="cn">
            <a href="tel:18005710605">1800-571-0605</a>
            <a href="tel:+13211255890">+1321-125-5890</a>
        </div>
    </div>
    <div class="chat">
        <img src="/assets/images/chat.png" alt="">
        <a href="https://wa.me/9457979134?text=Let%27s%20Talk%20Web%20And%20Marketing%20%5B5%25%20Off%5D">Chat With Us</a>
    </div>
    <div class="face chat">
        <a href="https://calendly.com/shashisales">Fix A Face-2-Face</a>
    </div>
    <div class="mail">
        <img src="/assets/images/mail.png" alt="">
        <a href="mailto:info@shashisales.com?subject=Service%20Inquiry&body=Hello,%0D%0A%0D%0AI%20am%20interested%20in%20your%20services.%20Here%20are%20my%20details:%0D%0A%0D%0AName:%20%0D%0APhone%20Number:%20%0D%0ABusiness%20Name:%20%0D%0ALocation:%20%0D%0AService%20Required:%20%0D%0ABudget:%20%0D%0A%0D%0AThank%20you!"> info@shashisales.com</a>
    </div>
</div>
<script>
    function consentAll()
        {
        gtag('consent', 'update', allGranted);
        createCookie('google-consent', true, 30);
        document.getElementById('consent-banner').style = 'display: none;';
        dataLayer.push({'event': 'consent-updated'});
        }
        function essentialOnly() {
            gtag('consent', 'update', essentialOnlyGranted);
            createCookie('google-consent', true, 30);
            document.getElementById('consent-banner').style = 'display: none;';
            dataLayer.push({'event': 'consent-updated'});
            }

        function createCookie(name, value, days) {
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                var expires = "; expires=" + date.toGMTString();
            }
            else var expires = "";               

            document.cookie = name + "=" + value + expires + "; path=/";
        }

        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        document.addEventListener("DOMContentLoaded", function() {
        if(readCookie('google-consent') == null)
            document.getElementById('consent-banner').style = '';
        });
</script>
<script>
    // Function to hide all sections
    function hideAllSections() {
            document.querySelector('.show-sel1').style.display = 'none';
            document.querySelector('.show-sel2').style.display = 'none';
            document.querySelector('.show-sel3').style.display = 'none';
            document.querySelector('.show-sel4').style.display = 'none';
            document.querySelector('.show-sel5').style.display = 'none';
            document.querySelector('.show-sel6').style.display = 'none';
            document.querySelector('.show-sel7').style.display = 'none';
            // Add additional sections here if needed
        }

        // Function to show the selected section and set it as active in the sidebar
        function showSection(sectionId, navId) {
            hideAllSections();
            document.querySelector(`.${sectionId}`).style.display = 'block';
            document.querySelectorAll('.seo-sidebar-left li').forEach(item => item.classList.remove('sel-active'));
            document.getElementById(navId).classList.add('sel-active');
        }

        // When the document is fully loaded
        document.addEventListener('DOMContentLoaded', function () {
            showSection('show-sel1', 'sel1');
        });

        document.getElementById('sel1').addEventListener('click', function () {
            showSection('show-sel1', 'sel1');
        });

        document.getElementById('sel2').addEventListener('click', function () {
            showSection('show-sel2', 'sel2');
        });

        document.getElementById('sel3').addEventListener('click', function () {
            showSection('show-sel3', 'sel3');
        });

        document.getElementById('sel4').addEventListener('click', function () {
            showSection('show-sel4', 'sel4');
        });
        document.getElementById('sel5').addEventListener('click', function () {
            showSection('show-sel5', 'sel5');
        });
        document.getElementById('sel6').addEventListener('click', function () {
            showSection('show-sel6', 'sel6');
        });
        document.getElementById('sel7').addEventListener('click', function () {
            showSection('show-sel7', 'sel7');
        });
</script>
<script>
    const menuItems = document.querySelectorAll('.seo-sidebar-left li');

    menuItems.forEach(item => {
        item.addEventListener('click', () => {
            menuItems.forEach(item => item.classList.remove('sel-active'));
            item.classList.add('sel-active');
        });
    });

</script>
<script>
    const seoItems = document.querySelectorAll('.seo-hed-in li a');

    const removeActiveClass = () => {
        seoItems.forEach(item => item.classList.remove('seo-active'));
    };

    const observerCallback = (entries) => {
        entries.forEach(entry => {
            const id = entry.target.getAttribute('id');
            const correspondingLink = document.querySelector(`.seo-hed-in li a[href="#${id}"]`);

            if (entry.isIntersecting) {
                removeActiveClass();
                correspondingLink.classList.add('seo-active');
            }
        });
    };

    const observerOptions = {
        root: null,
        threshold: 0.5
    };

    const observer = new IntersectionObserver(observerCallback, observerOptions);

    const sections = document.querySelectorAll('#seo-services, #our-technology, #case-studies, #seo-pricing, #our-approach');

    sections.forEach(section => observer.observe(section));
</script>

<script>
    function animateNumber(element, target) {
        let start = 0;
        let end = parseInt(target);
        let duration = 2000; 
        let increment = end / (duration / 30); 
        let current = start;
        let interval = setInterval(function() {
            current += increment;
            if (current >= end) {
                current = end;
                clearInterval(interval);
            }
            element.innerHTML = Math.floor(current) + "%";
        }, 30);
    }
    function handleIntersection(entries, observerr) {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                let el = entry.target;
                let target = el.getAttribute('data-target');
                el.style.opacity = 1;
                animateNumber(el, target);
                observerr.unobserve(el);
            }
        });
    }
    const observerr = new IntersectionObserver(handleIntersection, {
        root: null,
        threshold: 0.5
    });
    document.querySelectorAll('.scre').forEach(el => {
        observerr.observe(el);
    });
</script>


